body {
  padding-top: 3rem;
  color: #5a5a5a;
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 6rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

.featurette-image:last-child {
  margin-bottom: 1.5rem;
}

@media (max-width: 639px) {
  .featurette .col-md-5 {
    text-align: center;
  }

  .featurette-image {
    width: 270px;
  }
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

  .featurette .col-md-5 {
    text-align: center;
  }

  .featurette-image {
    width: 270px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 2rem;
  }

  .featurette-image {
    width: 270px;
  }
}

@media (max-width: 697px) {
  .container .third-carousel-caption {
    padding-bottom: 0px !important;
  }

  .container .third-carousel-caption p {
    margin-bottom: 15px !important;
  }
}

@media (max-width: 639px) {
  .container .third-carousel-caption {
    padding-bottom: 21px !important;
  }
}

@media (max-width: 558px) {
  .container .third-carousel-caption {
    padding-bottom: 0px !important;
  }
}

@media (max-width: 362px) {
  .container .first-carousel-caption {
    padding-bottom: 0px !important;
  }

  .container .first-carousel-caption p {
    margin-bottom: 15px !important;
  }

  .container .second-carousel-caption {
    padding-bottom: 24px !important;
  }

  .container .second-carousel-caption p {
    margin-bottom: 15px !important;
  }
}

@media (max-width: 357px) {
  .container .second-carousel-caption {
    padding-bottom: 0px !important;
  }
}

@media (max-width: 316px) {
  .container .third-carousel-caption {
    padding-bottom: 0px !important;
  }
}

@media (max-width: 277px) {
  .container .third-carousel-caption {
    bottom: 4.6rem !important;
  }
}
